
.dialogue-tree-maker {
    width: 100%;
    margin-bottom: 100px;
}

.dialogue-tree-maker__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.dialogue-tree-maker__top {
    display: flex;
    flex: row;
    gap: 20px;

    margin-bottom: 24px;
}

.dialogue-tree-maker__top--form {
    flex: 1;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dialogue-tree-maker__top--characters {
    flex: 1;
}

.dialogue-tree-maker--content {
    display: flex;
    flex-direction: column;

    gap: 28px;
}
