
.adventure-maker {
    width: 100%;
}

.adventure-maker--content {
    display: flex;
    flex-direction: row;

    gap: 80px;
}

.adventure-maker--container {
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin-bottom: 32px;
}
