
.adventure-maker {
    width: 100%;
}

.adventure-maker__dialogue-tree-title {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.adventure-maker--container {
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin-bottom: 32px;
}

.adventure-maker--content {
    display: flex;
    flex-direction: column;

    gap: 80px;
}
