.area-maker {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.area-maker--title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    gap: 20px;
}

.area-maker--title-button {
    margin: 8px 0;
}

.area-maker--delete-button { 
    margin: 8px 0;
    background-color: #a02e2f;
}

.area-maker--delete-button:hover {
    background-color: #CC1818;
}

.area-maker--section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    overflow-y: scroll;
}

.area-maker--point-of-interest-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    flex: 0 0 50%;

    gap: 8px;
}

.area-maker--form-stack {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.area-maker--form-inline {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.area-maker--description {
    display: flex;
    flex-direction: column;
}

.area-maker--text-box {
    height: 90px;
    resize: vertical;
}
