.dialogue-maker {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.dialogue-maker--title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    gap: 20px;
}

.dialogue-maker--delete-button { 
    margin: 8px 0;
    background-color: #a02e2f;
}
.dialogue-maker--delete-button:hover {
    background-color: #CC1818;
}

.dialogue-maker--content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dialogue-maker__description-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    flex: 1;
}

.dialogue-maker__text-area-container {
    display: flex;
    flex-direction: column;

    padding: 20px;

    border-radius: 8px;
    box-shadow: 1px 1px 4px #1f2028;

    background-color: #313137;
}

.dialogue-maker__text-area {
    height: 90px;
    resize: vertical;
}

.dialogue-maker__choices {
    flex: 1;
}
