.dialogue-maker {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.dialogue-maker--title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    gap: 20px;
}

.dialogue-maker--content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dialogue-maker__text-area-container {
    display: flex;
    flex-direction: column;

    padding: 20px;

    border-radius: 8px;
    box-shadow: 1px 1px 4px #1f2028;

    background-color: #313137;
}

.dialogue-maker__text-area {
    height: 90px;
    resize: vertical;
}

.dialogue-maker__widgets {
    display: flex;
    flex-direction: row;
    gap: 20px;

    justify-content: space-between;
}

.dialogue-maker__widgets--hidden-info {
    flex: 1;
}

.dialogue-maker__widgets--choices {
    flex: 1;
}
